In [10]:
import pandas
import numpy
import sys
import time

sys.path.append('..')

In [15]:
train_transaction_csv_path = '../data/raw/train_transaction.csv'
train_transaction_hdf_path = '../data/interim/train_transaction.h5'

In [11]:
t0 = time.time()
df = pandas.read_csv('../data/raw/train_transaction.csv')
round(time.time() - t0)

22

In [20]:
t0 = time.time()
test = pandas.read_hdf(train_transaction_hdf_path, start=0, stop=2)
round(time.time() - t0)

test

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,4,10095,-1,42,1,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,4,1372,303,42,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
categorical_features = ['ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain']
categorical_features += ['card{}'.format(i) for i in range(1, 7)]
categorical_features += ['M{}'.format(i) for i in range(1, 10)]
categorical_features += ['isFraud']

numerical_features = [feature for feature in list(df) if feature not in categorical_features]
integer_features = [feature for feature in numerical_features if df[feature].dtype == numpy.int64]
continuous_features = [feature for feature in numerical_features if df[feature].dtype == numpy.float64]

In [4]:
df[integer_features]

    TransactionID  TransactionDT
0         2987000          86400
1         2987001          86401
2         2987002          86469
3         2987003          86499
4         2987004          86506
..            ...            ...
95        2987095          88120
96        2987096          88131
97        2987097          88147
98        2987098          88149
99        2987099          88162

[100 rows x 2 columns]

In [50]:
set(df.dtypes)

{CategoricalDtype(categories=['credit', 'debit'], ordered=False),
 CategoricalDtype(categories=[122.0, 126.0, 170.0, 181.0, 184.0, 191.0, 204.0, 205.0,
                   220.0, 226.0, 231.0, 251.0, 264.0, 272.0, 299.0, 315.0,
                   325.0, 330.0, 337.0, 387.0, 420.0, 436.0, 441.0, 469.0,
                   472.0, 476.0, 485.0],
                  ordered=False),
 CategoricalDtype(categories=[0], ordered=False),
 CategoricalDtype(categories=[117.0, 150.0, 185.0], ordered=False),
 CategoricalDtype(categories=[87.0], ordered=False),
 CategoricalDtype(categories=['anonymous.com', 'charter.net', 'gmail.com', 'hotmail.com',
                   'outlook.com'],
                  ordered=False),
 CategoricalDtype(categories=[100.0, 103.0, 111.0, 114.0, 143.0, 148.0, 170.0, 174.0,
                   199.0, 206.0, 243.0, 264.0, 266.0, 269.0, 272.0, 285.0,
                   302.0, 303.0, 314.0, 321.0, 343.0, 352.0, 360.0, 361.0,
                   375.0, 383.0, 396.0, 399.0, 404.0, 417.0, 418.0, 452.0,
                   453.0, 476.0, 481.0, 490.0, 500.0, 512.0, 514.0, 543.0,
                   545.0, 547.0, 555.0, 556.0, 558.0, 562.0, 567.0, 569.0,
                   583.0],
                  ordered=False),
 CategoricalDtype(categories=['american express', 'discover', 'mastercard', 'visa'], ordered=False),
 CategoricalDtype(categories=['C', 'H', 'R', 'S', 'W'], ordered=False),
 CategoricalDtype(categories=[ 1214,  1240,  1549,  1662,  1724,  1790,  1955,  2213,
                    2392,  2538,  2581,  2755,  2803,  3278,  3670,  3682,
                    3786,  4208,  4461,  4497,  4504,  4663,  4806,  5220,
                    5409,  5463,  5583,  5937,  6459,  6481,  6573,  7005,
                    7055,  7207,  7826,  7835,  7875,  8431,  8613,  9002,
                    9281,  9766,  9785, 10045, 10112, 10776, 11307, 11401,
                   11492, 11815, 11839, 12308, 12544, 12598, 12695, 12730,
                   12866, 12932, 13085, 13249, 13276, 13329, 13832, 13926,
                   14076, 14165, 14695, 14858, 15066, 15121, 15333, 15385,
                   15885, 16132, 16496, 16659, 17188, 17359, 17399, 17868,
                   17967, 18018, 18095, 18132, 18370],
                  ordered=False),
 CategoricalDtype(categories=[100.0, 102.0, 117.0, 134.0, 137.0, 138.0, 142.0, 147.0,
                   162.0, 166.0, 195.0, 202.0, 219.0, 224.0, 226.0],
                  ordered=False),
 CategoricalDtype(categories=['T'], ordered=False),
 CategoricalDtype(categories=['M0', 'M1', 'M2'], ordered=False),
 CategoricalDtype(categories=['F', 'T'], ordered=False),
 CategoricalDtype(categories=['anonymous.com', 'aol.com', 'charter.net', 'comcast.net',
                   'cox.net', 'gmail.com', 'hotmail.com', 'mail.com', 'me.com',
                   'optonline.net', 'outlook.com', 'verizon.net', 'yahoo.com'],
                  ordered=False),
 dtype('float32'),
 dtype('int32')}

In [5]:
for feature in categorical_features:
    df[feature] = df[feature].astype('category').cat.codes

In [6]:
for feature in integer_features:
    if df[feature].dtype == numpy.int64:
        df[feature] = df[feature].astype('int32')

In [7]:
for feature in continuous_features:
    if df[feature].dtype == numpy.float64:
        df[feature] = df[feature].astype('float32')

In [8]:
df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.500000,4,63,-1,1,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.000000,4,11,28,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.000000,4,21,35,1,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.000000,4,83,46,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.000000,1,19,38,1,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2987005,0,86510,49.000000,4,27,42,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2987006,0,86522,159.000000,4,51,22,1,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2987007,0,86529,422.500000,4,54,35,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2987008,0,86535,15.000000,1,12,0,1,3,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2987009,0,86536,117.000000,4,78,2,1,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2987010,0,86549,75.887001,0,74,21,0,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2987011,0,86555,16.495001,0,18,24,2,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2987012,0,86564,50.000000,4,16,30,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2987013,0,86585,40.000000,4,56,17,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2987014,0,86596,10.500000,4,50,35,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2987015,0,86618,57.950001,4,32,42,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2987016,0,86620,30.000000,1,5,42,1,3,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2987017,0,86668,100.000000,1,48,2,1,2,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2987018,0,86725,47.950001,4,21,35,1,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2987019,0,86730,186.000000,4,31,2,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2987020,0,86761,39.000000,4,36,18,1,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2987021,0,86769,159.949997,4,47,39,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2987022,0,86786,50.000000,1,4,48,1,3,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2987023,0,86808,107.949997,4,8,22,1,2,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2987024,0,86821,73.949997,4,44,22,1,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2987025,0,86944,107.949997,4,71,2,1,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2987026,0,86945,184.000000,4,79,5,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2987027,0,86972,47.950001,4,46,19,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2987028,0,86973,20.000000,4,37,13,1,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2987029,0,86979,36.990002,4,57,23,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2987070,0,87735,100.000000,1,15,11,1,3,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,2987071,0,87736,59.000000,4,3,2,1,3,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,2987072,0,87752,6.767000,0,62,24,2,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2987073,0,87759,554.000000,4,6,25,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2987074,0,87775,27.792999,0,72,40,2,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2987075,0,87779,68.500000,4,22,35,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2987076,0,87787,36.950001,4,83,46,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2987077,0,87793,280.000000,4,13,32,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2987078,0,87825,300.000000,4,67,44,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,2987079,0,87839,28.698999,0,20,36,2,2,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,2987080,0,87856,60.000000,4,33,2,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,2987081,0,87868,104.949997,4,76,19,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,2987082,0,87899,280.000000,4,68,6,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2987083,0,87924,411.950012,4,66,26,1,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,2987084,0,87928,125.674004,0,26,1,2,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,2987085,0,87935,42.596001,0,72,40,2,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2987086,0,87950,44.500000,4,49,9,1,2,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2987087,0,88004,88.949997,4,2,4,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2987088,0,88021,140.000000,4,82,10,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2987089,0,88042,318.950012,4,76,19,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,2987090,0,88046,77.820999,0,72,40,2,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,2987091,0,88053,107.000000,4,65,2,1,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,2987092,0,88054,117.000000,4,29,2,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,2987093,0,88070,50.000000,1,23,22,1,3,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,2987094,0,88107,527.000000,4,24,6,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2987095,0,88120,59.000000,4,9,33,1,3,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2987096,0,88131,108.500000,4,69,42,1,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2987097,0,88147,21.500000,4,10,8,1,2,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2987098,0,88149,159.000000,4,28,0,1,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2987099,0,88162,75.000000,2,0,7,1,3,14,...,0.0,0.0,125.0,0.0,0.0,125.0,0.0,0.0,0.0,0.0

In [51]:
df[categorical_features] = df[categorical_features].apply(lambda x: x.cat.codes)

In [53]:
df[categorical_features]
df.to_hdf('test.h5' ,'table')